body {
    background-color: black;
}

.main {
    padding: 40px;
}

.divider {
    height: 0.5px;
    width: 85%;
    color: white;
    background-color: white;
}

.header {
    display: flex;
    height: 10%;
    justify-content: flex-start;    
    padding: 10px 0;
}

.logo {
    height: 10%;
    width: 10%;
}

.description {
    display: flex;
    margin-top: 50px;
    flex-direction: row;
}

.description-text {
    background-color: #161616;
    color: white;
    flex: 1;
    padding: 10% 12%;
    text-align: center;
}

.description-image{
    height: 100%;
    width: 100%;
}

.wwr{
    font-weight: 900;
    font-size: 4rem;
}

.card-section {
    margin-top: 50px;
    padding: 50px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-top: 0.5px solid white;
    border-bottom: 0.5px solid white;
}

.card {
    display: flex;
    flex-direction: column;
    height: 500px;
    border: 1px solid white;
    width: 30%;
}

.card-image {
    width: 100%;
    height: 60%;
}

.card-data {
    padding: 20px;
}

.card-heading{
    padding: 10px 0;
    color: white;
    font-size: 2rem;
    font-weight: 600;
}

.card-divider {
    height: 0.5px;
    background-color: white;
    width: 90%;
    margin: 10px 0;
}

.card-description {
    color: white;
}

.card-button-container {
    padding: 10px 0;
}

.card-button {
    padding: 5px;
    background-color: #f4d0cd;
    color: black;
}

.specials {
    padding: 50px 0;
}

.specials-details {
    color: white;
    text-align: center;
    margin-bottom: 50px;
}

.special-details-heading {
    font-size: 2rem;
    margin-bottom: 20px;
}

.specials-card-container {
    display: flex;
    justify-content: space-around;
}

.specials-card{
    height: 400px;
    width: 40%;
}

.special-card-image{
    height: 60%;
    width: 100%;
}

.spceial-card-details {
    padding: 20px;
    text-align: center;
}

.special-card-text {
    width: 50%;
    color: white;
}